<header class="container mx-auto px-5 mt-4">
  <h1 class="text-[40px] font-bold"><%= t('app.title') %></h1>
  <h2 class="text-2xl"><%= t('app.catchline') %></h2>
  <p class="mt-6">
    <%= t('app.caption') %>
  </p>
</header>
