<nav class="flex justify-between items-center container mx-auto px-5 my-4" data-turbo="false">
  <div>
    <h1 class="text-2xl lg:text-[40px] font-bold"><%= t('navbar.title') %></h1>
    <h2 class="text-xl lg:text-2xl hidden md:block"><%= t('navbar.catchline') %></h2>
  </div>
  <%- if helpers.user_signed_in? %>
    <%= button_to t('navbar.actions.logout'), '/auth/logout', class: 'btn-secondary', method: :get %>
  <%- else %>
    <%= button_to t('navbar.actions.login'), '/auth/auth0', class: 'btn-primary', method: :post %>
  <% end %>
</nav>
