<%- if @options[:label].nil? || @options[:label] %>
  <%= @form.label @field_name, (@options[:label] if @options[:label].is_a?(String)) %>
<% end %>
<%= input %>
<%- if @object.errors[@field_name].any? %>
  <% @object.errors[@field_name].each do |error| %>
    <p class="text-red-500 text-sm mt-1"><%= error %></p>
  <% end %>
<% end %>
