<div class="w-full">
  <div class="flex flex-col md:flex-row gap-4 justify-between items-center mb-6">
    <h3 class="font-bold text-4xl"><%= t('.title') %></h1>
    <div class="flex items-center gap-2">
      <div class="max-w-lg min-w-[150px]">
        <%= render ::UserSearchBarComponent.new %>
      </div>
    </div>
  </div>
  <%- if @users.any? %>
    <%= render 'grid', users: @users %>
  <% else %>
    <p><%= t('.empty') %></p>
  <% end %>
</div>
