<div class="bg-neutral-600/50 fixed inset-0 p-4 pt-24" data-controller="modal" id="<%= @id %>">
  <div class="bg-slate-100 dark:bg-slate-900 mx-auto relative md:max-w-2xl w-full rounded-xl p-4 md:p-8">
    <span class="dark:text-white font-bold absolute top-0 right-0 m-2 p-2 text-xl cursor-pointer hover:bg-neutral-200/10 transition-all w-8 h-8 flex justify-center items-center rounded-full" data-action="click->modal#close">x</span>
    <%= body %>
  </div>
</div>
