<%= form_with(model: post, class: "contents") do |form| %>
  <div class="my-5">
    <%= render Ui::Form::TextFieldComponent.new(form, :author) %>
  </div>
  <div class="my-5">
    <%= render Ui::Form::TextAreaComponent.new(form, :body) %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
