<%= link_to post, id: dom_id(post), class: "block border rounded-lg dark:border-gray-300 mb-6 p-4 transition-all #{'hover:bg-gray-100/5' if action_name != 'show'}" do %>
  <div class="flex items-center justify-between">
    <span>@<%= post.author %></span>
    <span class="text-gray-500">
      <%= post.relative_created_at %>
    </span>
  </div>
  <p class="mt-5">
    <%= post.body %>
  </p>


<% end %>
