<div class="md:w-3/4 w-full" data-turbo="false">
  <h3 class="font-bold text-4xl"><%= t('.title')%></h1>
  <%= render "form", post: @post %>
  <%= link_to t('.show'), @post, class: "btn-secondary inline-block" %>
  <%= link_to t('.delete'), post_path(@post), class: "btn-secondary inline-block ml-2", data: { 'turbo-method': :delete } %>
</div>
