<div class="w-full">
  <%= render @post %>
  <div class="mt-2">
    <%= link_to t('.edit'), edit_post_path(@post), class: "btn-secondary inline-block" %>
    <%= link_to t('.delete'), post_path(@post), class: "btn-secondary inline-block ml-2", data: { 'turbo-method': :delete } %>
    <%= link_to t('posts.return'), posts_path, class: "btn-secondary inline-block ml-2" %>
  </div>
</div>
